/* Reset some default styles for consistency */
body, h1, h2, p, form, input, button, a {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Navigation bar styles */
nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 140px;
    height: 70px;
    margin-right: 10px;
}

.login-register a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

/* Header styles */
header {
    text-align: center;
    padding: 20px;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Register form styles */
.register-form {
    text-align: center;
}

.register-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.register-link {
    text-align: center;
}

/* Add the modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Style for the "Your Tasks" box */
.task-list {
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}

/* Style for individual task boxes */
.task {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

/* Style for the task details (hidden by default) */
.task-details {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.create-task-button {
    padding: 20px;
}

.user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.user-name {
    margin-right: 10px;
}

.user-icon {
    width: 30px;
    height: 30px;
}
